*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: blue;
}
/*Titulo*/
header{
    text-align: left;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 10px;
}


/*Menu de hamburguesa*/
ul{
    list-style: none;
}
#MenuBurger li>a{
    background-color: white;
    color: black;
    padding: 10px;
    display: block;
    text-decoration: none;
  
}
#MenuBurger li>a:hover{
    color: black;
    background-color: darkgray;
}
 #MenuBurger>li{
    float: left;
    text-align:center

}
#MenuBurger>li>ul{
    display: none;
}
#MenuBurger>li:hover>ul {
    display:block;
}