*{
    margin: 0px;
    padding: 0px;
}

/*Titulo*/
header{
    text-align: left;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 10px;
}

/*Barra superiror menu*/
#Menus_p{
    text-align: center;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}
#Menusp{
    margin:50px;
}
#Menusp > a{
    text-decoration: none;
    color: black;
}
#Menusp > a:hover{
    background-color: red;
    color: white;
}

