*{
    margin: 0px;
    padding: 0px;
}
header{
    text-align: center;
    margin-bottom: 30px;
}
#Menus_p{
    text-align: center;
}
#Menusp{
    margin:50px;
}
#Menusp > a{
    text-decoration: none;
    color: black;
}
#AU{
    margin: 25%;
}
label{
    text-align: center;
    color: rebeccapurple;
}