*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}

/*Titulo*/
/*------------------------------------*/
#header{
    width: 100%;
    height: 70px;
    background-color: whitesmoke;
    
    
}
.cajatitulo{
    float: left;
    margin-left: 1%;
    margin-top: 10px;
    width: 5%;
    padding: 10px;
    height: 20px;
    background-color: yellow;
    
}
.cajatitulo > a{
    text-decoration: none;
    color: black;
}
/*------------------------------------*/



/*Listas y Botones*/
/*------------------------------------*/
#header2{
    border-bottom: 1px solid black;
    background-color: whitesmoke;
    height: 70px;
}
/*Menu de hamburguesa*/
#MenuBurger{
    width: 100%;
} 
ul{
    list-style: none;
    position: absolute;
}
#MenuBurger li>a{
    height: 40px;
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    display: block;
    text-decoration: none;
  
}
#MenuBurger li>a:hover{
    color: black;
    background-color: darkgray;
}
 #MenuBurger>li{
    width: 20%;
    float: left;
    text-align:center

}

#MenuBurger>li>ul{
    display: none;
    width: 20%;
}
#MenuBurger>li:hover>ul {
    display:block;
}
/*------------------------------------*/




/*Central*/
/*------------------------------------*/
#central{
    height: 700px;
}


/*Menu Lados*/
/*------------------------------------*/


/*Izquierda*/
#nav{
    
    width: 20%;
    height: 700px;
    background-color: darkgrey;
    float: left;
}
/*Derecha*/
#aside{
    
    width: 20%;
    height: 700px;
    background-color: darkgrey;
    float: right;
}
/*------------------------------------*/



/*En medio*/
/*------------------------------------*/
#section{
    
    width: 60%;
    height:  700px;
    background-color: whitesmoke;
    float: left;
}

.cajaArriba{
    width: 98%;
    background-color: whitesmoke;
    height: 200px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 24px;


}
.cajaEnmedio{
    width: 98%;
    background-color: whitesmoke;
    height: 200px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 24px;
    
}
.cajaAbajo{
    width: 98%;
    background-color: whitesmoke;
    height: 200px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 24px;


}
/*------------------------------------*/

/*Abajo*/
/*------------------------------------*/
#footer{
    width: 100%;
    height: 150px;
    background-color: whitesmoke;
   

    border-top: 1px solid black;


    
    
}
/*------------------------------------*/


/*Chat de WhatsApp*/
.whatsapp, .facebook{
    position: fixed; 
    z-index:999;
    right:25px; /*Margen derecho*/
   }
   .whatsapp img, .facebook img{
    width:60px; /*Alto del icono*/
    height:60px; /*Ancho del icono*/
   }
   .whatsapp { 
    bottom:20px; /*Margen abajo*/}
   
   
   .facebook {
    bottom:95px; /*Margen abajo*/}
   
   
   .whatsapp:hover, .facebook:hover{
   opacity: 0.7 !important;
   filter: alpha(opacity=70) !important;
   }