*{
    margin: 0px;
    padding: 0px;
}
*body{
    background-color: ghostwhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    text-align: center;
    margin-bottom: 30px;
}
#Menus{
    text-align: center;
}
#Menus2{
    margin:50px;
}
#Menus2 > a{
    text-decoration: none;
    color: black;
}

