*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: blue;
}

/*Titulo*/
#header{
    width: 100%;
    height: 70px;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;
}


#header2{
   
    background-color: white;
    height: 70px;
}

#central{
    
    height: 700px;
    margin-top: 70px;
    float: left;
    width: 100%;
}
/*Menu Lados*/
#nav{
    
    width: 20%;
    height: 700px;
    background-color: darkgrey;
    float: left;
}
#aside{
    
    width: 20%;
    height: 700px;
    background-color: darkgrey;
    float: right;
}
/*En medio*/
#section{
    
    width: 60%;
    height:  700px;
    background-color: darkslateblue;
    float: left;
}

#article{
    background-color: gold;
    height: 200px;
    margin-top: 20px;
}
#footer{
    width: 100%;
    height: 70px;
    background-color: indigo;
    
}


/*Menu de hamburguesa*/
ul{
    list-style: none;
    position: absolute;
}
#MenuBurger li>a{
    height: 40px;
    width: 360px;
    background-color: white;
    color: black;
    padding: 10px;
    display: block;
    text-decoration: none;
  
}
#MenuBurger li>a:hover{
    color: black;
    background-color: darkgray;
}
 #MenuBurger>li{
    float: left;
    text-align:center

}
#MenuBurger>li>ul{
    display: none;
}
#MenuBurger>li:hover>ul {
    display:block;
}